<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>iGitHub &beta;</title>
		
		<%= stylesheet_link_tag '/jqtouch/jqtouch/jqtouch.css' %>
		<%= stylesheet_link_tag '/jqtouch/themes/apple/theme.css' %>
		<%= stylesheet_link_tag '/prettify/src-min/prettify.css' %>
		<%= stylesheet_link_tag 'application.css' %>
		<%= javascript_include_tag '/jqtouch/jqtouch/jquery-1.4.2.js', :cache => false %>
		<%= javascript_include_tag '/jqtouch/jqtouch/jqtouch.js', :cache => false %>
		<%= javascript_include_tag '/jqtouch/extensions/jqt.autotitles.js', :cache => false %>
		<%= javascript_include_tag '/prettify/src-min/prettify.js', :cache => false %>
		<%= javascript_include_tag 'helpers.js', :cache => false %>
		<%= javascript_include_tag 'github.js', :cache => false %>
		<%= javascript_include_tag 'application.js', :cache => false %>
		
		<script type="text/javascript" charset="utf-8">
			
			$(function(){
				// Custom Javascript (onReady)
			});
		</script>
		
		<style type="text/css" media="screen">
			#jqt a {
				color: #4183C4;
			}
			#jqt.fullscreen #home .info {
				display: none;
			}
			div#jqt #more .content {
				padding: 100px 10px 40px;
				text-shadow: rgba(255, 255, 255, 0.3) 0px -1px 0;
				font-size: 13px;
				text-align: center;
				color: #000;
			}
			div#jqt #more .content p {
				margin-bottom: 8px;
			}
			div#jqt #more .content a {
				color: #000;
				font-weight: bold;
				text-decoration: none;
			}
			#jqt .actionButton {
			 -webkit-border-image: url(/jqtouch/themes/apple/img/actionButton.png) 0 5 0 5;
			/* -webkit-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAeCAMAAAASJ24jAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOFQTFRFDypgEjN1FDiBFzVwFz+RF0CSF0GUGECRGUagGkafGkilGkmnG0usHE6yHUebHU+1HVC3HVG6HkumHkyoHlTAHlTBH1XDH1bFH1fGIUOIIUSJIkSHIkWJIl/aI0eOI0iQJGLeJ0qPJ2TfKEqOKFKlKlOnLk6NLmngL1qwMGrgM23gOXDhQXfjQ3jjRnrjSGmvSW+8TX/kVITlVYLAWIfmWYjmW4nmYI3nZI/oZ5Lobouzb4WxcY2zcoilc4mlc4u8c4+1dY6wdo+wdo+xepa5i6DJlZ6xmaW7nKjApbPGp7XH7p6whAAAALpJREFUGNONyNcSwUAYhuEPIStaFpHovYboXRBd7v+CzKyT/WcceM7eF75/7oQgBDpn38d7HLT6I6FvBcdv7FRnudkKm6WjHlC31xK7icxiJVmkwWcEhzElDGQdIgs+JDhSNpFCYkAkEO8SccQaRAxajdDAygSDkiMUKCbxY4TpCCNPRxF5iyiiQEfpj1E15TYraHF58DbmUXlE97hOmG58y9DZ5ILj7dRLRgTWO92OcF3v8XwJ94fnuh+hqT63RLZOWgAAAABJRU5ErkJggg==) 0 5 0 5; */
			 border-width: 0 5px;
			}
			#jqt > * {
				background: rgb(240,240,240) none;
			}
			#jqt h1, #jqt h2 {
				text-shadow: rgba(255,255,255,.2) 0 1px 1px;
				color: rgb(100, 100, 100);
			}
			
			#jqt ul li a.basicButton{
				text-align:center;
				color: #6D84A2;
			}
			#jqt #home ul.individual li {
				width:auto;
				float:none;
			}
			#jqt .login {
				left: 6px;
				right: auto;
				padding: 0;
				max-width: 55px;
			}
			#jqt .login.active {
				
			}
			#jqt .info {
				padding:10px;
			}
			#jqt .info-top {
				padding:10px;
				background: #dce1eb;
				text-align: center;
				border-bottom: 1px solid rgba(76, 86, 108, .3);
			}
			#jqt .info-top h2 {
				margin:0px;
		    text-shadow: rgba(255,255,255,.8) 0 1px 0px;
				color: rgb(76, 86, 108);
			}
			#jqt .info-try {
		    background: #dce1eb;
		    font-size: 12px;
		    line-height: 16px;
		    text-align: center;
		    text-shadow: rgba(255,255,255,.8) 0 1px 0;
		    color: rgb(76, 86, 108);
		    border-top: 1px solid rgba(76, 86, 108, .3);
		    font-weight: bold;
		
				padding:6px 10px;
				border-bottom: 1px solid rgba(76, 86, 108, .3);
			}
			#jqt .info-try a {
				text-decoration:none;
			}
			#jqt #home ul.edit {
				margin-top:17px;
				margin-bottom:10px;
			}
			#jqt #home ul.individual {
				margin-top:10px;
				margin-bottom:17px;
			}
		</style>
		
	</head>
	
	<body>
		<div id="jqt">
			
			<div id="home" class="current">
				<div class="toolbar">
					<h1>iGitHub</h1>
					<a class="button login flip" href="#more">Login</a>
					<a class="button actionButton flip" href="#more">More</a>
				</div>
				<div class="info-top">
					<h2>Find Code ~ Read Code</h2>
				</div>
        <form id="formHomeBrowse">
					<ul class="edit rounded">
						<li><input type="text" name="path" placeholder="user/repo/branch/folder/file.txt" id="formHomeBrowsePath" value="" /></li>
					</ul>
					<ul class="individual">
						<li><a id="formHomeBrowseSubmit" class="basicButton" href="#">GO!</a></li>
					</ul>
        </form>
				<div class="info-try">
					<p>Try:&nbsp; <a class="try" href="drnic">drnic</a> &nbsp;-&nbsp; <a class="try" href="rails/rails">rails/rails</a> &nbsp;-&nbsp; <a class="try" href="chrisjacob/igithub/master">chrisjacob/igithub/master</a></p>
				</div>
        <form id="formHomeSearch">
					<ul class="edit rounded">
						<li><input type="search" name="query" placeholder="" id="formHomeSearchQuery" value="" /></li>
					</ul>
					<ul class="individual">
						<li><a id="formHomeSearchSubmit" class="basicButton" href="#">FIND</a></li>
					</ul>
        </form>
				<div class="info">
					<p>Add to your home screen to view full screen mode</p>
				</div>
			</div>
			
			<div id="more">
				<div class="toolbar">
					<h1>More</h1>
					<a class="button login" href="#">chrisjacob</a>
					<a class="button actionButton goback" href="#">Done</a>
				</div>
				<div class="content">
					<p><img src="/images/igithub.png" /></p>
					<p><strong>iGitHub</strong><br />Version 0.1 beta<br /><a href="http://chrisjacob.github.com/">By Chris Jacob</a></p>
					<p><em>GitHub Source Code Browser<br /> on your iPhone.</em></p>
					<p><a href="http://twitter.com/i_chris_jacob" target="_blank">@i_chris_jacob on Twitter</a></p>
				</div>
			</div>
			
			<div id="templateUser">
				<div class="toolbar">
					<h1>User Name</h1>
					<a class="back" href="#">Back</a>
					<a class="button actionButton flip" href="#more">More</a>
				</div>
				<div class="loadingPage">Loading</div>
			</div>
			
			<div id="templateRepo">
				<div class="toolbar">
					<h1>Repo Name</h1>
					<a class="back" href="#">Back</a>
					<a class="button actionButton flip" href="#more">More</a>
				</div>
				<div class="loadingPage">Loading</div>
			</div>
			
			<div id="templateTree">
				<div class="toolbar">
					<h1>Tree Name</h1>
					<a class="back" href="#">Back</a>
					<a class="button actionButton flip" href="#more">More</a>
				</div>
				<div class="loadingPage">Loading</div>
			</div>

		</div>
	</body>
	
</html>